/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;;
}

body {
    background-color: lightskyblue;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;

}

/* Estilo Cabeçalho */
header {
    padding: 50px 5%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    display: block;
    transition: opacity 3s ease;
}

.logo a:hover .logo-img {
    content: url('/images/logo1.png');
}