/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.btn-contacto button {
    display: inline-block;
    width: 100px;
    height: 40px;
    padding: 20px, 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: blue;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

.btn-contacto button:hover {
    transform: scale(1.1);
    background: linear-gradient(-150deg, #3194f1 35%, blue 65%);
    display: inline-block;
    background-color: lightblue;
}

.flex {
    display: flex;
}

h2.titulo {
    margin: 20px;
    color: white;
    font-size: 42px;
    text-align: center;
}

h2.titulo span {
    background: linear-gradient(-130deg, #3194f1 45%, blue 55%);
    display: inline-block;

    /*Recorte o fundo até o texto*/
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

/* Estilo Cabeçalho */
header {
    margin: 0;
    padding: 0;
    transition: padding 0.3s ease;

    background-color: rgba(0, 0, 0, 0.985);
    box-shadow: #ffffffaf 0 0 10px 1px;
    position: fixed;
    z-index: 99999999;
    width: 100%;
    left: 0;
    top: 0;
}

header:hover {
    padding: 20px 10%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    display: block;
    transition: opacity .3s ease;
}

.logo a:hover .logo-img {
    content: url('/images/logo1.png');
}

header a {
    font-size: medium;
    display: inline-block;
    transition: .3s;
    color: blue;
    text-decoration: none;
}

header a:hover {
    transform: scale(1.2);
    background: linear-gradient(-100deg, #3194f1 45%, blue 55%);
    display: inline-block;

    /*Recorte o fundo até o texto*/
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

header a.active {
    transform: scale(1.1);
    background: linear-gradient(-100deg, #3194f1 45%, blue 55%);
    display: inline-block;

    /*Recorte o fundo até o texto*/
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

header nav ul {
    list-style-type: none;
}

header nav.menu-PC ul li {
    display: inline-block;
    padding: 0 40px;
}

/* Corpo Página Inicial */
section.topo-site {
    padding-top: 250px;
    padding-bottom: 80px;
}

section.topo-site .flex {
    align-items: center;
    justify-content: center;
}

.txt-topo > .btn-contacto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt-topo > .btn-contacto button {
    width: 300px;
    height: 80px;
    font-size: 20px;
    font-weight: 600;
    transition: .2s;
}

.txt-topo > .btn-contacto button:hover {
    transform: scale(1.1);
    font-size: 30px;
    background-color: lightskyblue;
}


.topo-site .txt-topo h1 {
    line-height: 40px;
    color: white;
    font-weight: 800;
    font-size: 42px;
}

.topo-site .txt-topo h1 span {
    font-size: 50px;
    background: linear-gradient(-100deg, #3194f1 45%, blue 55%);
    display: inline-block;

    /*Recorte o fundo até o texto*/
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.topo-site .txt-topo p {
    font-size: 20px;
    color: aliceblue;
    padding: 20px 100px;
}

.topo-site .txt-topo p span {
    font-size: 24px;
    background: linear-gradient(-100deg, #3194f1 45%, blue 55%);
    display: inline-block;

    /*Recorte o fundo até o texto*/
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#sp1 {
    font-size: 40px;
}

.topo-site .img-top {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 320px;
    background-color: rgb(251, 247, 247);
    border: 0;
    border-radius: 20%;
    animation: flutuar 2s ease-in-out infinite alternate;
    position: relative;
}

.img-top img {
    width: 100%;
    height: auto;
}

@keyframes flutuar {
    0% {
        transform: translateY(-30px);
    }
    100% {  transform: translateY(-50px); }
}

/* Estilo Especialidades */
section.especialidades {
    background-color: #3937a318;
    border: 0;
    border-radius: 25px;
    box-shadow: #ffffff4f 0 0 10px 5px;
    margin: 100px;
    padding: 40px 4%;
    color: white;
}

section.especialidades .flex {
    justify-content: center;
    flex-direction: row   ;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}

.especialidades span {
    background: linear-gradient(-150deg, #3194f1 30%, blue 70%);
    display: inline-block;

    /*Recorte o fundo até o texto*/
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    transition: .3s;
}

.especialidades .especialidades-box  {
    margin-bottom: 20px;
    width: 33.33%;
    border:2px solid #fff;
    font-size: 32px;
    padding: 40px;
    border-radius: 20%;
}

.especialidades .especialidades-box:hover  {
    transform: scale(1.1);
    box-shadow: 0 0 20px #ffffff83;
}

.especialidades .especialidades-box i {
    display: inline-block;
    background: linear-gradient(-120deg, #3194f1 30%, blue 70%);

    /*Recorte o fundo até o texto*/
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
    font-size: 70px;
}

.especialidades .especialidades-box p {
    font-size: 24px;
}

.especialidades .especialidades-box h3 {
    padding: 20px;
}

/* Sobre Mim */
section.sobre {
    padding: 40px 4px;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.greeting {
    padding-top: 50px;
}

.sobre .img-sobre img {
    width: 80%;
    border-radius: 10%;
}

.sobre .txt-sobre {
    color: #fff;
    font-size: 20px
}

.txt-sobre span {
    background: linear-gradient(-150deg, #3194f1 30%, blue 70%);
    display: inline-block;

    /*Recorte o fundo até o texto*/
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.sobre .txt-sobre .txt-sec .btn-social {
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 180px;
    padding: 40px 0;
}
.btn-social button {
    border: 0;
    background-color: rgb(35, 92, 216);
    border-radius: 30%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    font-size: 30px;
}

.btn-social button:hover {
    transform: scale(1.5);

    background: linear-gradient(-150deg, #3194f1 30%, blue 70%);
    display: inline-block;
}

/* Estilo Projetos */
section.projetos {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #1d1e2b;
}

section.projetos .flex {
    justify-content: space-around;
}

.img-proj {
    margin-top: 25px;
    position: relative;
    border-radius: 5%;
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
}

.img-proj:hover {
    background-position: 100% 100%;
}
#p1 {
    background-image: url(/images/python.png);
}

#p2 {
    background-image: url(/images/HTML.png);
}

#p3 {
    background-image: url(/images/JAVA.png);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.512);
    border-radius: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;

    color: aliceblue;
    opacity: 0;

    transition: .3s;
}

.overlay:hover {
    opacity: 1;
}

/* Estilo Forms */

section.forms {
    padding: 80px 4%;
}

section.forms .interface {
    width: 600px;
    height:650px;
    box-shadow: 0 0 20px #4747a483;
    border: 0;
    border-radius: 10px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

form input, form textarea {
    width: 100%;
    background-color: rgb(68, 68, 68);
    border: 0;
    outline: 0;
    border-radius: 10px;
    padding: 20px 15px;
    color: aliceblue;
    font-size: 18px;
}

form textarea {
    resize: none;
    height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input[type=submit] {
    width: 120px;
    background-color: #292ccd;
    font-weight: 700;
    cursor: pointer;
}

form .btn-enviar input[type=submit]:hover {
    font-size:larger;
    background: linear-gradient(-150deg, #3194f1 30%, blue 70%);
    display: inline-block;
}

/* Estilo Footer */
footer {
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #1d1e2b;
}

footer .line-footer {
    padding: 10px 0;
}

.line {
    border-top: 2px solid blue;
}

footer .flex {
    align-items: center;
    justify-content: space-between;
}

footer .line-footer p {
    font-size: 18px;
    color: #292ccd;
}


footer .line-footer a:hover {
    font-size: 19px;
    color: #3194f1;
}

.logo-footer img {
    width: 110px;
}

.logo-footer img:hover {
    content: url('/images/logo1.png');
    transform: scale(1.1);
}

footer .btn-social button {
    width: 50px;
    height: 50px;
}

footer .btn-social button:hover {
        transform: scale(1.4);
        background: linear-gradient(-150deg, #3194f1 30%, blue 70%);
        display: inline-block;
        /*Recorte o fundo até o texto*/
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .menu-mobile {
        width: 0%;
        display: none;
    }

/* Responsividade */
@media screen and (max-width: 1020px) {
    /* Geral */
    body {
        padding-top: 100px;
    }

    .interface {
        padding: 0 4%;
    }

    header > .interface {
        height: 10%;
        background-color: rgba(45, 50, 88, 0.985);
        box-shadow: #ffffffaf 0 0 20px 2px;
        position: fixed;
        z-index: 99999999;
        width: 100%;
        left: 0;
        top: 0;
    }

    .flex {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h2.titulo {
        font-size: 32px;
        text-align: center;
    }

    /* Nav-Bar */
    .menu-PC, .btn-contacto {
        display: none;
    }

    /* Estilo Menu Mobile */
    .menu-mobile {
        display: none;
        height: 100vh;
        width: 60%;
        background-color: #292ccd71;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99999;
        border-radius: 10px;
        cursor: pointer;
    }

    .menu-mobile-ativo {
        display: block;
    }

    .menu-mobile .interface {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 4%;
    }

    .menu-mobile .btn-fechar {
        width: 10%;
        height: 0;
        display: flex;
        align-items: left;
        justify-content: left;
    }

    .menu-mobile .btn-fechar i{
        cursor: pointer;
        font-size: 40px;
        color: white;
    }

    .menu-mobile .btn-fechar i:hover {
        text-shadow: #ffffff 0 0 10px;
        font-weight: 500;
    }

    .btn-abrir .flex {
        height: 0;
        align-items: right;
        justify-content: right;
    }
    
    .btn-abrir input {
        opacity: 0;
    }

    .btn-abrir i {
        cursor: pointer;
        font-size: 50px;
        color: white;
    }

    .btn-abrir i:hover {
        font-weight: 500;
        text-shadow: #ffffff 0 0 10px;
    }

    .menu-mobile nav ul {
        padding: 50px 0;
        text-align: right;
        display: block;    
        flex-direction: column;
        gap: 20px;
    }

    .menu-mobile nav ul li {
        padding: 20px 4%;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
    }

    .menu-mobile nav ul li:hover {
        background-color: #4f4fdc55;
        border-radius: 10px;
    }

    .menu-mobile nav ul li a {
        display: block;
        color: white;
        font-size: 20px;
        text-decoration: none;
    }

    .overlay-menu {
        display: none;
        background-color: #0b072f99;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index:8888;
    }

    .overlay-ativo {
        display: block;
    }

    .btn-abrir {
        display: block;
    }

    .btn-menu-desligado {
        display: none;
    }

    header {
        margin-bottom: 0; 
        padding-bottom: 0;
    }

    header img {
        padding: 10px;
        width:100px;
        display: inline-block;
    }
    
    main {
        margin-top: 0; 
        padding-top: 0;
    }
    
    /* topo site */
    .topo-site .flex {
        flex-direction: column-reverse;
    }
    .txt-topo > h1 {
        transform: scale(0.7);
        text-align: center;
    }
    
    .topo-site .txt-topo > p {
        font-size: 16px;
        text-align: center; 
    }

    #sp1 {
        text-align: center;
        transform: scale(0.9);
    }

    .btn-contacto  {
        transform: scale(0.8);
    }

    .topo-site .img-top {
        width: 200px;
        height: 200px;
    }

    /* Especialidades */
    section.especialidades .flex {
        flex-direction: column;
    }

    .especialidades .especialidades-box {
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }

    .especialidades .especialidades-box i {
        font-size: 50px;
    }

    .especialidades .especialidades-box p {
        font-size: 18px;
    }

    .especialidades .especialidades-box h3 {
        font-size: 20px;
    }

    /* Sobre */
    .sobre .flex {
        flex-direction: column;
    }

    .sobre .img-sobre img {
        width: 100%;
    }

    .sobre .txt-sobre {
        text-align: center;
    }

    .sobre .txt-sobre .txt-sec .btn-social {
        flex-direction: row;
        gap: 20px;
    }

    /* Projetos */
    .projetos .flex {
        flex-direction: column;
    }

    .img-proj {
        width: 90%;
        height: 300px;
    }

    /* Forms */
    section.forms .interface {
        width: 100%;
    }

    form {
        max-width: 100%;
    }

    /* Footer */
    footer .flex {
        flex-direction: column;
    }

    footer .line-footer p {
        text-align: center;
    }

    footer .btn-social button {
        width: 50px;
        height: 50px;
    }
}

