/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;;
}

body {
    background-color: black;
    height: 100vh;
    
}

.interface {
    max-width: 1280px;
    margin: 0 auto;

}

.btn-contacto button {
    display: inline-block;
    width: 100px;
    height: 40px;
    padding: 20px, 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: blue;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

.btn-contacto button:hover {
    transform: scale(1.1);
    background-color: lightskyblue;
}

.flex {
    display: flex;
     align-items: center;
    justify-content: space-between; 
}

/* Estilo Cabeçalho */
header {
    padding: 50px 5%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    display: block;
    transition: opacity .3s ease;
}

.logo a:hover .logo-img {
    content: url('/images/logo1.png');
}

header a {
    font-size: medium;
    display: inline-block;
    transition: .3s;
    color: blue;
    text-decoration: none;
}

header a:hover {
    color: lightskyblue;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}
header nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 40px;
}

/* Corpo Página Inicial */
section .topo-site {
    padding: 40px 4%;
}

section .topo-site .flex {
    align-items: center;
    justify-content: center;
}

.txt-topo > .btn-contacto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt-topo > .btn-contacto button {
    width: 300px;
    height: 80px;
    font-size: 20px;
    font-weight: 600;
    transition: .2s;
}

.txt-topo > .btn-contacto button:hover {
    transform: scale(1.1);
    font-size: 30px;
    background-color: lightskyblue;
}


.txt-topo h1 {
    color: aliceblue;
    font-weight: 800;
    font-size: 45px;
}

.txt-topo h1 span {
    color: aqua;
    font-size: 50px;
}

.txt-topo p {
    font-size: 20px;
    color: aliceblue;
    padding: 50px 100px;
}

.txt-topo p span {
    font-size: 24px;
    color: aqua;
}

#sp1 {
    font-size: 40px;
}

.img-top {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 320px;
    background-color: lightblue;
    border: 0;
    border-radius: 20%;
    animation: flutuar 2s ease-in-out infinite alternate;
    position: relative;
}

.img-top img {
    width: 100%;
    height: auto;
}

@keyframes flutuar {
    0% { 
        top: 0;
    }
    100% {
        top: 30px;
    }
}