/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;;
}

body {
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.btn-contacto button {
    display: inline-block;
    width: 100px;
    height: 40px;
    padding: 20px, 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: blue;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

.btn-contacto button:hover {
    transform: scale(1.1);
    background: linear-gradient(-150deg, #3194f1 35%, blue 65%);
    display: inline-block;
    background-color: lightblue;
}

.flex {
    display: flex;
}

section {
    margin-top: auto;
    margin-bottom: 50px;
}

h2.titulo {
    margin: 20px;
    color: white;
    font-size: 42px;
    text-align: center;
}

h2.titulo span {
    background: linear-gradient(-130deg, #3194f1 45%, blue 55%);
    display: inline-block;

    /*Recorte o fundo até o texto*/
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

/* Estilo Cabeçalho */
header {
    padding: 50px 5%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    display: block;
    transition: opacity .3s ease;
}

.logo a:hover .logo-img {
    content: url('/images/logo1.png');
}

header a {
    font-size: medium;
    display: inline-block;
    transition: .3s;
    color: blue;
    text-decoration: none;
}

header a:hover {
    transform: scale(1.2);
    background: linear-gradient(-100deg, #3194f1 45%, blue 55%);
    display: inline-block;

    /*Recorte o fundo até o texto*/
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

header a.active {
    transform: scale(1.1);
    background: linear-gradient(-100deg, #3194f1 45%, blue 55%);
    display: inline-block;

    /*Recorte o fundo até o texto*/
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

header nav ul {
    list-style-type: none;
}
header nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 40px;
}

/* Corpo Página Inicial */
section.topo-site {
    padding: 40px 4%;
}

section.topo-site.flex {
    align-items: center;
    justify-content: center;
}

.txt-topo > .btn-contacto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt-topo > .btn-contacto button {
    width: 300px;
    height: 80px;
    font-size: 20px;
    font-weight: 600;
    transition: .2s;
}

.txt-topo > .btn-contacto button:hover {
    transform: scale(1.1);
    font-size: 30px;
    background-color: lightskyblue;
}


.txt-topo h1 {
    color: white;
    font-weight: 800;
    font-size: 45px;
}

.txt-topo h1 span {
    font-size: 50px;
    background: linear-gradient(-100deg, #3194f1 45%, blue 55%);
    display: inline-block;

    /*Recorte o fundo até o texto*/
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.txt-topo p {
    font-size: 20px;
    color: aliceblue;
    padding: 20px 100px;
}

.txt-topo p span {
    font-size: 24px;
    background: linear-gradient(-100deg, #3194f1 45%, blue 55%);
    display: inline-block;

    /*Recorte o fundo até o texto*/
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#sp1 {
    font-size: 40px;
}

.img-top {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 320px;
    background-color: rgb(251, 247, 247);
    border: 0;
    border-radius: 20%;
    animation: flutuar 2s ease-in-out infinite alternate;
    position: relative;
}

.img-top img {
    width: 100%;
    height: auto;
}

@keyframes flutuar {
    0% { 
        top: 0;
    }
    100% {
        top: 30px;
    }
}

/* Estilo Especialidades */
section.especialidades {
    padding: 40px 4%;
    color: white;
}

section.especialidades .flex {
    margin-top: 50px;
    gap: 60px;
}

.especialidades span {
    background: linear-gradient(-150deg, #3194f1 30%, blue 70%);
    display: inline-block;

    /*Recorte o fundo até o texto*/
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    transition: .3s;
}

.especialidades .especialidades-box  {
    width: 33.33%;
    border:2px solid #fff;
    font-size: 32px;
    padding: 40px;
    border-radius: 20%;
}

.especialidades .especialidades-box:hover  {
    transform: scale(1.1);
   box-shadow: 0 0 20px #ffffff83;
}

.especialidades .especialidades-box i {
    display: inline-block;
    background: linear-gradient(-120deg, #3194f1 30%, blue 70%);

    /*Recorte o fundo até o texto*/
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
    font-size: 70px;
}

.especialidades .especialidades-box p {
    font-size: 24px;
}

.especialidades .especialidades-box h3 {
    padding: 20px;
}

/* Sobre Mim */
section.sobre {
    padding: 40px 4px;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .img-sobre img {
    width: 80%;
    border-radius: 10%;
}

.sobre .txt-sobre {
    color: #fff;
    font-size: 20px
}

.txt-sobre span {
    background: linear-gradient(-150deg, #3194f1 30%, blue 70%);
    display: inline-block;

    /*Recorte o fundo até o texto*/
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.sobre .txt-sobre .txt-sec .btn-social {
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 180px;
    padding: 40px 0;
}
.btn-social button {
    border: 0;
    background-color: rgb(35, 92, 216);
    border-radius: 30%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    font-size: 30px;
}


.btn-social button:hover {
    transform: scale(1.5);

    background: linear-gradient(-150deg, #3194f1 30%, blue 70%);
    display: inline-block;
}

/* Estilo Projetos */
section.projetos {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #1d1e2b;
}

section.projetos .flex {
    justify-content: space-around;
}

.img-proj {
    margin-top: 25px;
    position: relative;
    border-radius: 5%;
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
}

.img-proj:hover {
    background-position: 100% 100%;
}
#p1 {
    background-image: url(/images/python.png);
}

#p2 {
    background-image: url(/images/HTML.png);
}

#p3 {
    background-image: url(/images/JAVA.png);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.512);
    border-radius: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;

    color: aliceblue;
    opacity: 0;

    transition: .3s;
}

.overlay:hover {
    opacity: 1;
}

/* Estilo Forms */

section.forms {
    padding: 80px 4%;
}

section.forms .interface {
    width: 600px;
    height:650px;
    box-shadow: 0 0 20px #4747a483;
    border: 0;
    border-radius: 10px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

form input, form textarea {
    width: 100%;
    background-color: rgb(68, 68, 68);
    border: 0;
    outline: 0;
    border-radius: 10px;
    padding: 20px 15px;
    color: aliceblue;
    font-size: 18px;
}

form textarea {
    resize: none;
    height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input[type=submit] {
    width: 120px;
    background-color: #292ccd;
    font-weight: 700;
    cursor: pointer;
}

form .btn-enviar input[type=submit]:hover {
    font-size:larger;
    background: linear-gradient(-150deg, #3194f1 30%, blue 70%);
    display: inline-block;
}

/* Estilo Footer */
footer {
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #1d1e2b;
}

footer .line-footer {
    padding: 10px 0;
}

.line {
    border-top: 2px solid blue;
}

footer .flex {
    align-items: center;
    justify-content: space-between;
}

footer .line-footer p {
    font-size: 18px;
    color: #292ccd;
}


footer .line-footer a:hover {
    font-size: 19px;
    color: #3194f1;
}

.logo-footer img {
    width: 110px;
}

footer .btn-social button {
    width: 50px;
    height: 50px;
}

footer .btn-social button:hover {
    transform: scale(1.4);
    background: linear-gradient(-150deg, #3194f1 30%, blue 70%);
    display: inline-block;
    /*Recorte o fundo até o texto*/
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* Responsividade */
@media screen and (max-width: 1020px) {
    /* Geral */
    .flex {
        flex-direction: column;
    }
    /* Nav-Bar */
    .menu-PC, .btn-contacto {
        display: none;
    }
}

